<div class="portfolio-wrap">

  <mat-card class="portfolio-card">
    <mat-card-header>
      <mat-card-title>KeepSolidSign Web App</mat-card-title>
    </mat-card-header>
    <img src="/assets/img/portfolio/sign-app.png" alt="KeepsolidSign Web App">
    <mat-card-content>
      <p>
        Application for signing documents.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://app.keepsolid.com/sign/" target="_blank" mat-button>Go and look</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="portfolio-card">
    <mat-card-header>
      <mat-card-title>KeepSolid Sign Site</mat-card-title>
    </mat-card-header>
    <img src="/assets/img/portfolio/sign-site.png" alt="Keepsolid Sign Site">
    <mat-card-content>
      <p>
        Site for web application, with pricing, FAQ etc.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://sign.keepsolid.com" target="_blank" mat-button>Go and look</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="portfolio-card">
    <mat-card-header>
      <mat-card-title>KeepSolid Site</mat-card-title>
    </mat-card-header>
    <img src="/assets/img/portfolio/ks-site.png" alt="KeepSolid Site">
    <mat-card-content>
      <p>
        Site of Company
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://keepsolid.com" target="_blank" mat-button>Go and look</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="portfolio-card">
    <mat-card-header>
      <mat-card-title>VpnUnlimited Site</mat-card-title>
    </mat-card-header>
    <img src="/assets/img/portfolio/vpn-site.png" alt="VpnUnlimited Site">
    <mat-card-content>
      <p>
        Company product
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.vpnunlimitedapp.com" target="_blank" mat-button>Go and look</a>
    </mat-card-actions>
  </mat-card>

</div>
