

<chart></chart>


<mat-card class="experience-descr">
  <p>
    I use these technologies in my work every day. I try to pay the most attention to basic things, such as JS. I often try to refresh some features of the language, sometimes I go to
    <a href="https://www.codewars.com" target="_blank">https://www.codewars.com</a> to practice different methods of arrays, strings, etc.
  </p>
  <p>
    Typescript is quite easy to use when there is some (albeit a learning) background in C #. I love the principles of OOP, so my code always uses interfaces, private fields and the rest of the delights of this add-on over JS.
  </p>

  <p>
    After the experience of using Angular + Ngrx + Rxjs, I found the most convenient way to work with data.
  </p>


</mat-card>
