
<div class="descr">

  <div class="descr-icon"></div>

  <div class="descr-content">
    <p class="descr-content__title">
      Hello my name Andrew Botsulyak and I'm front-end developer.
    </p>

    <p>
      I create awesome web sites and web applications.
    </p>

    <p>
      You can find me <a href="https://www.facebook.com/profile.php?id=100015044748793" target="_blank">facebook</a> or <a href="https://www.linkedin.com/in/andrew-botsulyak-3048b314b/" target="_blank">linkedin</a>
    </p>
  </div>

</div>


<div class="main-content">

  <mat-card class="about-item">
    <h2 class="about-item__title">Who am I:</h2>
    <mat-divider></mat-divider>
    <p class="about-item__text">
      I am a guy who loves web development. I have been doing this for 2 years, of which 1.5 is a commercial development. I love JavaScript, it can be used to program almost any device, server technology, all this motivates and opens up great opportunities for developers and for business.
    </p>
  </mat-card>


  <mat-card class="about-item">
    <h2 class="about-item__title">My hobbies</h2>
    <mat-divider></mat-divider>
    <p class="about-item__text">
      I love to develop, this applies both to professional activities and in personal life.
      Books, sports, movies, bike, guitar - this is my gentlemanly set of hobbies that take up most of my life.
    </p>
  </mat-card>


</div>
